<a href="https://colab.research.google.com/github/HugoWLA/Venture_Funding/blob/main/GC_venture_funding_with_deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [2]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [3]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data.csv

In [4]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("applicants_data.csv") # YOUR CODE HERE

# Review the DataFrame
# YOUR CODE HERE
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Review the data types associated with the columns
# YOUR CODE HERE
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [6]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN", "NAME"]) # YOUR CODE HERE

# Review the DataFrame
# YOUR CODE HERE
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [7]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index) # YOUR CODE HERE

# Display the categorical variables list
# YOUR CODE HERE
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [8]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False) # YOUR CODE HERE

In [9]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])# YOUR CODE HERE

In [10]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
 )  # YOUR CODE HERE

# Review the DataFrame
# YOUR CODE HERE
encoded_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [11]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = encoded_df = pd.concat(
    [
        applicant_data_df[["STATUS", "ASK_AMT", "IS_SUCCESSFUL"]],
        encoded_df
     
    ],
    axis=1
)
 

# Review the Dataframe
# YOUR CODE HERE
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [12]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"] # YOUR CODE HERE

# Display a sample of y
# YOUR CODE HERE
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [13]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=["IS_SUCCESSFUL"]) # YOUR CODE HERE
 
# Review the features DataFrame
# YOUR CODE HERE
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [14]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)# YOUR CODE HERE

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [17]:
# Create a StandardScaler instance
scaler = StandardScaler() # YOUR CODE HERE

# Fit the scaler to the features training dataset
X_scaler = X_scaler.fit(X_train) # YOUR CODE HERE

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train) # YOUR CODE HERE
X_test_scaled = X_scaler.transform(X_test) # YOUR CODE HERE

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [18]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])# YOUR CODE HERE

# Review the number of features
number_input_features

116

In [19]:
# Define the number of neurons in the output layer
number_output_neurons = 1 # YOUR CODE HERE

In [34]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = (number_input_features + number_output_neurons) // 2 # YOUR CODE HERE

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [21]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) // 2 # YOUR CODE HERE

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [22]:
# Create the Sequential model instance
nn = Sequential() # YOUR CODE HERE

In [23]:
# Add the first hidden layer
# YOUR CODE HERE
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [24]:
# Add the second hidden layer
# YOUR CODE HERE
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [25]:
# Add the output layer to the model specifying the number of output neurons and activation function
# YOUR CODE HERE
nn.add(Dense(units=1, activation="sigmoid"))

In [26]:
# Display the Sequential model summary
# YOUR CODE HERE
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [27]:
# Compile the Sequential model
# YOUR CODE HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [28]:
# Fit the model using 50 epochs and the training data
# YOUR CODE HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 3ms/step - loss: 0.5734 - accuracy: 0.7175
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5506 - accuracy: 0.7325
Epoch 3/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5480 - accuracy: 0.7327
Epoch 4/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5462 - accuracy: 0.7331
Epoch 5/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5447 - accuracy: 0.7341
Epoch 6/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5438 - accuracy: 0.7341
Epoch 7/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5427 - accuracy: 0.7350
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5424 - accuracy: 0.7348
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7355
Epoch 10/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5411 - accuracy: 0.7363
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5407 - accuracy: 0.7372
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7384
Epoch 13/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5404 - accuracy: 0.7367
Epoch 14/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5393 - accuracy: 0.7376
Epoch 15/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5390 - accuracy: 0.7376
Epoch 16/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5387 - accuracy: 0.7371
Epoch 17/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5383 - accuracy: 0.7378
Epoch 18/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5382 - accuracy: 0.7379
Epoch 19/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5375 - accuracy: 0.7377
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5377 - accuracy: 0.7391
Epoch 21/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5372 - accuracy: 0.7384
Epoch 22/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5368 - accuracy: 0.7381
Epoch 23/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7388
Epoch 24/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5367 - accuracy: 0.7393
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5366 - accuracy: 0.7379
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7389
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5358 - accuracy: 0.7388
Epoch 28/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5353 - accuracy: 0.7399
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5348 - accuracy: 0.7391
Epoch 30/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5346 - accuracy: 0.7392
Epoch 31/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5350 - accuracy: 0.7399
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5350 - accuracy: 0.7401
Epoch 33/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5344 - accuracy: 0.7395
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5342 - accuracy: 0.7402
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5342 - accuracy: 0.7407
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7390
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7405
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5337 - accuracy: 0.7397
Epoch 39/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5337 - accuracy: 0.7398
Epoch 40/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5334 - accuracy: 0.7400
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5335 - accuracy: 0.7406
Epoch 42/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5333 - accuracy: 0.7405
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7409
Epoch 44/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5329 - accuracy: 0.7411
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7407
Epoch 46/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7403
Epoch 47/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5325 - accuracy: 0.7402
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5324 - accuracy: 0.7409
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7404
Epoch 50/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5319 - accuracy: 0.7406

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [30]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5557 - accuracy: 0.7291 - 516ms/epoch - 2ms/step
Loss: 0.5556696057319641, Accuracy: 0.7290962338447571

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [31]:
# Set the model's file path
file_path = "AlphabetSoup.h5" # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [32]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [33]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 2 # YOUR CODE HERE

In [35]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + number_output_neurons_A1) //2 # YOUR CODE HERE

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

59

In [36]:
# Create the Sequential model instance
nn_A1 = Sequential()# YOUR CODE HERE

In [60]:
# First hidden layer
# YOUR CODE HERE
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="linear"))

# Output layer
# YOUR CODE HERE
nn_A1.add(Dense(1, activation="sigmoid"))
# Check the structure of the model
# YOUR CODE HERE
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 58)                6786

 dense_4 (Dense)             (None, 58)                3422

 dense_5 (Dense)             (None, 1)                 59

 dense_6 (Dense)             (None, 58)                116

 dense_7 (Dense)             (None, 1)                 59

 dense_9 (Dense)             (None, 59)                118

 dense_10 (Dense)            (None, 1)                 60

=================================================================
Total params: 10,620
Trainable params: 10,620
Non-trainable params: 0
_________________________________________________________________

In [53]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])# YOUR CODE HERE

In [54]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=55)# YOUR CODE HERE

Epoch 1/55
804/804 [==============================] - 3s 3ms/step - loss: 0.5551 - accuracy: 0.7303
Epoch 2/55
804/804 [==============================] - 3s 3ms/step - loss: 0.5382 - accuracy: 0.7378
Epoch 3/55
804/804 [==============================] - 3s 3ms/step - loss: 0.5368 - accuracy: 0.7376
Epoch 4/55
804/804 [==============================] - 3s 4ms/step - loss: 0.5361 - accuracy: 0.7371
Epoch 5/55
804/804 [==============================] - 3s 3ms/step - loss: 0.5352 - accuracy: 0.7370
Epoch 6/55
804/804 [==============================] - 2s 3ms/step - loss: 0.5349 - accuracy: 0.7387
Epoch 7/55
804/804 [==============================] - 2s 3ms/step - loss: 0.5342 - accuracy: 0.7391
Epoch 8/55
804/804 [==============================] - 2s 3ms/step - loss: 0.5339 - accuracy: 0.7386
Epoch 9/55
804/804 [==============================] - 3s 3ms/step - loss: 0.5337 - accuracy: 0.7393
Epoch 10/55
804/804 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7407
Epoch 11/55
804/804 [==============================] - 2s 3ms/step - loss: 0.5327 - accuracy: 0.7400
Epoch 12/55
804/804 [==============================] - 3s 3ms/step - loss: 0.5333 - accuracy: 0.7399
Epoch 13/55
804/804 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7406
Epoch 14/55
804/804 [==============================] - 3s 3ms/step - loss: 0.5328 - accuracy: 0.7383
Epoch 15/55
804/804 [==============================] - 2s 3ms/step - loss: 0.5333 - accuracy: 0.7397
Epoch 16/55
804/804 [==============================] - 2s 3ms/step - loss: 0.5322 - accuracy: 0.7396
Epoch 17/55
804/804 [==============================] - 3s 3ms/step - loss: 0.5324 - accuracy: 0.7381
Epoch 18/55
804/804 [==============================] - 2s 3ms/step - loss: 0.5323 - accuracy: 0.7392
Epoch 19/55
804/804 [==============================] - 2s 3ms/step - loss: 0.5320 - accuracy: 0.7399
Epoch 20/55
804/804 [==============================] - 2s 3ms/step - loss: 0.5318 - accuracy: 0.7395
Epoch 21/55
804/804 [==============================] - 2s 3ms/step - loss: 0.5315 - accuracy: 0.7390
Epoch 22/55
804/804 [==============================] - 2s 3ms/step - loss: 0.5314 - accuracy: 0.7395
Epoch 23/55
804/804 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7396
Epoch 24/55
804/804 [==============================] - 2s 3ms/step - loss: 0.5309 - accuracy: 0.7409
Epoch 25/55
804/804 [==============================] - 2s 3ms/step - loss: 0.5310 - accuracy: 0.7389
Epoch 26/55
804/804 [==============================] - 2s 3ms/step - loss: 0.5304 - accuracy: 0.7412
Epoch 27/55
804/804 [==============================] - 3s 3ms/step - loss: 0.5312 - accuracy: 0.7408
Epoch 28/55
804/804 [==============================] - 2s 3ms/step - loss: 0.5306 - accuracy: 0.7401
Epoch 29/55
804/804 [==============================] - 2s 3ms/step - loss: 0.5310 - accuracy: 0.7411
Epoch 30/55
804/804 [==============================] - 2s 3ms/step - loss: 0.5305 - accuracy: 0.7398
Epoch 31/55
804/804 [==============================] - 2s 3ms/step - loss: 0.5305 - accuracy: 0.7400
Epoch 32/55
804/804 [==============================] - 3s 4ms/step - loss: 0.5306 - accuracy: 0.7407
Epoch 33/55
804/804 [==============================] - 2s 3ms/step - loss: 0.5302 - accuracy: 0.7407
Epoch 34/55
804/804 [==============================] - 2s 3ms/step - loss: 0.5298 - accuracy: 0.7400
Epoch 35/55
804/804 [==============================] - 3s 4ms/step - loss: 0.5297 - accuracy: 0.7425
Epoch 36/55
804/804 [==============================] - 3s 3ms/step - loss: 0.5299 - accuracy: 0.7409
Epoch 37/55
804/804 [==============================] - 3s 3ms/step - loss: 0.5297 - accuracy: 0.7405
Epoch 38/55
804/804 [==============================] - 3s 4ms/step - loss: 0.5296 - accuracy: 0.7409
Epoch 39/55
804/804 [==============================] - 3s 4ms/step - loss: 0.5293 - accuracy: 0.7407
Epoch 40/55
804/804 [==============================] - 4s 5ms/step - loss: 0.5292 - accuracy: 0.7400
Epoch 41/55
804/804 [==============================] - 3s 4ms/step - loss: 0.5293 - accuracy: 0.7416
Epoch 42/55
804/804 [==============================] - 2s 3ms/step - loss: 0.5293 - accuracy: 0.7412
Epoch 43/55
804/804 [==============================] - 4s 6ms/step - loss: 0.5291 - accuracy: 0.7415
Epoch 44/55
804/804 [==============================] - 2s 3ms/step - loss: 0.5287 - accuracy: 0.7429
Epoch 45/55
804/804 [==============================] - 2s 3ms/step - loss: 0.5289 - accuracy: 0.7416
Epoch 46/55
804/804 [==============================] - 3s 4ms/step - loss: 0.5288 - accuracy: 0.7408
Epoch 47/55
804/804 [==============================] - 5s 7ms/step - loss: 0.5287 - accuracy: 0.7413
Epoch 48/55
804/804 [==============================] - 4s 6ms/step - loss: 0.5286 - accuracy: 0.7424
Epoch 49/55
804/804 [==============================] - 5s 6ms/step - loss: 0.5288 - accuracy: 0.7404
Epoch 50/55
804/804 [==============================] - 3s 3ms/step - loss: 0.5288 - accuracy: 0.7419
Epoch 51/55
804/804 [==============================] - 5s 6ms/step - loss: 0.5284 - accuracy: 0.7419
Epoch 52/55
804/804 [==============================] - 4s 5ms/step - loss: 0.5285 - accuracy: 0.7414
Epoch 53/55
804/804 [==============================] - 4s 4ms/step - loss: 0.5286 - accuracy: 0.7424
Epoch 54/55
804/804 [==============================] - 3s 4ms/step - loss: 0.5283 - accuracy: 0.7416
Epoch 55/55
804/804 [==============================] - 2s 3ms/step - loss: 0.5280 - accuracy: 0.7416

#### Alternative Model 2

In [55]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [56]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 4 # YOUR CODE HERE

In [57]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features + number_output_neurons_A2) //2 # YOUR CODE HERE

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

60

In [58]:
# Create the Sequential model instance
nn_A2 = Sequential()# YOUR CODE HERE

In [63]:
# First hidden layer
# YOUR CODE HERE
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="tanh"))
# Output layer
# YOUR CODE HERE
nn_A2.add(Dense(1, activation="sigmoid"))
# Check the structure of the model
# YOUR CODE HERE
nn_A2.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 60)                7020

 dense_13 (Dense)            (None, 60)                3660

 dense_14 (Dense)            (None, 1)                 61

=================================================================
Total params: 10,741
Trainable params: 10,741
Non-trainable params: 0
_________________________________________________________________

In [65]:
# Compile the model
# YOUR CODE HERE
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [67]:
# Fit the model
# YOUR CODE HERE
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=60)

Epoch 1/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5577 - accuracy: 0.7280
Epoch 2/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5515 - accuracy: 0.7300
Epoch 3/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5490 - accuracy: 0.7324
Epoch 4/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5475 - accuracy: 0.7315
Epoch 5/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5457 - accuracy: 0.7333
Epoch 6/60
804/804 [==============================] - 3s 4ms/step - loss: 0.5448 - accuracy: 0.7301
Epoch 7/60
804/804 [==============================] - 3s 3ms/step - loss: 0.5435 - accuracy: 0.7342
Epoch 8/60
804/804 [==============================] - 3s 4ms/step - loss: 0.5422 - accuracy: 0.7355
Epoch 9/60
804/804 [==============================] - 3s 3ms/step - loss: 0.5417 - accuracy: 0.7349
Epoch 10/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5408 - accuracy: 0.7346
Epoch 11/60
804/804 [==============================] - 3s 3ms/step - loss: 0.5400 - accuracy: 0.7368
Epoch 12/60
804/804 [==============================] - 3s 4ms/step - loss: 0.5395 - accuracy: 0.7364
Epoch 13/60
804/804 [==============================] - 3s 3ms/step - loss: 0.5390 - accuracy: 0.7371
Epoch 14/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5384 - accuracy: 0.7376
Epoch 15/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5382 - accuracy: 0.7364
Epoch 16/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7376
Epoch 17/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5371 - accuracy: 0.7395
Epoch 18/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7376
Epoch 19/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7378
Epoch 20/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5355 - accuracy: 0.7395
Epoch 21/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5354 - accuracy: 0.7395
Epoch 22/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5348 - accuracy: 0.7386
Epoch 23/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5348 - accuracy: 0.7393
Epoch 24/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5342 - accuracy: 0.7395
Epoch 25/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5337 - accuracy: 0.7396
Epoch 26/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7407
Epoch 27/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5336 - accuracy: 0.7397
Epoch 28/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5337 - accuracy: 0.7388
Epoch 29/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5334 - accuracy: 0.7406
Epoch 30/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5323 - accuracy: 0.7386
Epoch 31/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5325 - accuracy: 0.7396
Epoch 32/60
804/804 [==============================] - 3s 3ms/step - loss: 0.5322 - accuracy: 0.7411
Epoch 33/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5322 - accuracy: 0.7413
Epoch 34/60
804/804 [==============================] - 3s 4ms/step - loss: 0.5317 - accuracy: 0.7402
Epoch 35/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5313 - accuracy: 0.7387
Epoch 36/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5314 - accuracy: 0.7411
Epoch 37/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5312 - accuracy: 0.7407
Epoch 38/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5309 - accuracy: 0.7417
Epoch 39/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7406
Epoch 40/60
804/804 [==============================] - 3s 4ms/step - loss: 0.5308 - accuracy: 0.7403
Epoch 41/60
804/804 [==============================] - 3s 3ms/step - loss: 0.5303 - accuracy: 0.7409
Epoch 42/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5304 - accuracy: 0.7425
Epoch 43/60
804/804 [==============================] - 3s 3ms/step - loss: 0.5301 - accuracy: 0.7420
Epoch 44/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5299 - accuracy: 0.7411
Epoch 45/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5297 - accuracy: 0.7413
Epoch 46/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5296 - accuracy: 0.7433
Epoch 47/60
804/804 [==============================] - 3s 4ms/step - loss: 0.5291 - accuracy: 0.7413
Epoch 48/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5292 - accuracy: 0.7421
Epoch 49/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5292 - accuracy: 0.7432
Epoch 50/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5289 - accuracy: 0.7418
Epoch 51/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5286 - accuracy: 0.7424
Epoch 52/60
804/804 [==============================] - 3s 3ms/step - loss: 0.5287 - accuracy: 0.7425
Epoch 53/60
804/804 [==============================] - 3s 3ms/step - loss: 0.5285 - accuracy: 0.7425
Epoch 54/60
804/804 [==============================] - 3s 4ms/step - loss: 0.5285 - accuracy: 0.7416
Epoch 55/60
804/804 [==============================] - 3s 4ms/step - loss: 0.5286 - accuracy: 0.7419
Epoch 56/60
804/804 [==============================] - 3s 4ms/step - loss: 0.5279 - accuracy: 0.7432
Epoch 57/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5281 - accuracy: 0.7422
Epoch 58/60
804/804 [==============================] - 3s 3ms/step - loss: 0.5277 - accuracy: 0.7421
Epoch 59/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5279 - accuracy: 0.7431
Epoch 60/60
804/804 [==============================] - 2s 3ms/step - loss: 0.5278 - accuracy: 0.7428

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [70]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2) # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5557 - accuracy: 0.7291 - 364ms/epoch - 1ms/step
Loss: 0.5556696057319641, Accuracy: 0.7290962338447571

In [71]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled,y_test,verbose=2) # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 1s - loss: 0.6911 - accuracy: 0.5292 - 599ms/epoch - 2ms/step
Loss: 0.69106525182724, Accuracy: 0.5292128324508667

In [72]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled,y_test,verbose=2)# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 1s - loss: 0.5533 - accuracy: 0.7286 - 685ms/epoch - 3ms/step
Loss: 0.5532733201980591, Accuracy: 0.7286297082901001

### Step 3: Save each of your alternative models as an HDF5 file.

In [73]:
# Set the file path for the first alternative model
file_path = "AlphabetSoup_A1.h5" # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE
nn_A1.save(file_path)

In [74]:
# Set the file path for the second alternative model
file_path = "AlphabetSoup_A2.h5" # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE
nn_A2.save(file_path)